{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('app_change_file_quantity', { 'changedFilesId' : changedFilesId }) }}">
        {% for fileCatalogue in fileCatalogues %}
            <label for="{{ fileCatalogue.fileName }}">{{ fileCatalogue.fileName }}</label>
            <input type="number" id="{{ fileCatalogue.fileName }}" name="_filename" value="{{ fileCatalogue.fileQuantity }}"><br>
        {% endfor %}
        <button type="submit">zmien</button>
    </form>
{% endblock %}
