{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container-center">
    <div class="count">
       Ilość produktów {{ pagination.getTotalItemCount }}
    </div>
    <table class="container-table">
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'FileCatalogue.id') }}</th>
            <th{% if pagination.isSorted('e.fileName') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Nazwa', 'e.fileName') }}
            </th>
            <th{% if pagination.isSorted('FileCatalogue.fileCatalogueIndex') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Index w Katalogu', 'FileCatalogue.fileCatalogueIndex') }}
            </th>
            <th{% if pagination.isSorted('FileCatalogue.fileQuantity') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Ilość', 'fileCatalogue.fileQuantity') }}
            </th>
            <th{% if pagination.isSorted(['FileFatalogue.Unit.UnitName']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Jednostka miary', 'fileFatalogue.Unit.UnitName') }}
            </th>
            <th{% if pagination.isSorted(['FileCatalogue.fileNetPrice']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Cena jednostkowa', 'FileCatalogue.fileNetPrice') }}
            </th>
            <th>
                check
            </th>
        </tr>

        {% for file_catalogue in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ file_catalogue.id }}</td>
                <td>{{ file_catalogue.fileName }}</td>
                <td>{{ file_catalogue.fileCatalogueIndex }}</td>
                <td>{{ file_catalogue.fileQuantity }} </td>
                <td>{{ file_catalogue.unit.unitName }}</td>
                <td>{{ file_catalogue.fileNetPrice }}</td>
                <td><input type="checkbox" value={{ file_catalogue.id }} name="directions"></td>
            </tr>
        {% endfor %}
    </table>
        <div>
            <button type="button" id="button2">Zmień stan produktów</button>
        </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    </div>
    <script>

        $(document).ready(function() {
            $("#button2").click(function(){
                var files = [];
                $.each($("input[name='directions']:checked"), function(){
                    files.push($(this).val());
                });
                window.location.href=("/change-file-quantity/" + files.join("-"));
            });
        });

    </script>
{% endblock %}
