<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <title>Omega Segragete System</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
    <div class="navbar" id="navbar">
        <div class="navbar-left">
            <div><a href={{ path('app_main_page') }}>Strona Główna</a></div>
        </div>
        <div class="navbar-right">
                <div class="navbar-right-item" >
                    {% if path(app.request.attributes.get('_route')) is not same as '/login' %}
                        {% if app.user.roles.0 is same as 'ROLE_ADMIN' %}
                            <a href={{ path('app_register') }}>
                                Dodaj użytkownika
                            </a>
                        {% endif %}
                            <a href={{ path('app_new_file_catalogue') }}>
                                Nowy produkt
                            </a>
                            <a href={{ path('app_users_settings') }}>
                                Zmień Hasło
                            </a>
                            <a href={{ path('app_logout') }}>
                                Wyloguj
                            </a>
                    {% endif %}
            </div>
        </div>
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
