<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
    <div class="navbar" id="navbar">
        <div class="navbar-left">
            <div><a href={{ path('app_main_page') }}>Strona Główna</a></div>
        </div>
        <div class="navbar-right">
            {% if app.user is not same as null %}
            <div class="navbar-right-item" >
                <a href={{ path('app_logout') }}>
                    Wyloguj
                </a>
            </div>
            {% else %}
            <div class="navbar-right-item" >
                <a href={{ path('app_login') }}>
                    Zaloguj
                </a>
            </div>
            {% endif %}
        </div>
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
